.discography-section {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}


#discography h2 {
    text-align: center;
    color: #d0b546;
    margin-bottom: 40px;
    font-family: 'VerlagBoldItalic', sans-serif;
}

.discography-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1100px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}

.album-image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
}

.album-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.album-image:hover img {
    opacity: 0.7;
    transform: scale(1.1);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: none;
    font-family: 'VerlagBookItalic', sans-serif;
}

.album-image:hover .overlay-text {
    display: block;
    opacity: 1;
}

.album-info {
    flex-grow: 1;
    margin: 0 15px;
    padding: 0 20px;
    text-align: center;
    max-width: 60ch;
}

.album-links {
    text-align: center;
    font-family: 'VerlagBookItalic', sans-serif;
}

.album-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #d0b546;
    transition: transform 0.3s ease;
    font-family: 'VerlagBookItalic', sans-serif;
}

.album-links a:hover {
    transform: scale(1.1);
}

.small-image-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.small-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.separator {
    width: 50%;
    border-top: 1px solid #ccc;
    margin: 40px auto;
}

.discography-entry:last-child .separator {
    display: none;
}

@media (max-width: 768px) {
    .discography-entry {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-bottom: 30px;
    }

    .album-image {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .album-info,
    .album-links {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
}

@media (orientation: landscape) and (max-width: 940px) and (min-width: 769px) {
    .discography-entry {
        flex-direction: column;
        width: 95%;
        align-items: center;
    }

    .album-info {
        margin: 10px 0;
        text-align: center;
    }

    .album-image img {
        width: 120px;
        height: auto;
    }
}
