body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-gallery {
    padding: 2rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5%;
    text-align: center;
    margin-top: 2rem; /* Add margin to separate sections */
    margin-bottom: 3rem; /* Add margin-bottom for separation */
}

.image-gallery h2 {
    font-size: 2rem; /* Ensure the font size is 2rem for consistency */
    color: #d0b546;
    margin-bottom: 1.5rem;
}

.rowim {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 0 0.5rem;
}

.image-in-gallery {
    max-width: 100%;
    max-height: 150px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.image-in-gallery:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.image-in-gallery.enlarged {
    transform: scale(1.2); /* Slightly larger */
    z-index: 10; /* Ensure it appears above other elements */
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.image-container:hover .close-button {
    display: block;
}

.gallery-button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: white;
    background: none;
    border: 2px solid #d0b546;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.gallery-button:hover {
    background: whitesmoke;
    color: #000;
}

@media (max-width: 768px) {
    .rowim {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        margin: 0.5rem 0;
    }

    .image-gallery {
        padding: 1rem 0.5rem; /* Reduce padding for smaller screens */
        margin-top: 1rem; /* Reduce margin for smaller screens */
        margin-bottom: 2rem; /* Add margin-bottom for separation */
    }

    .image-gallery h2 {
        font-size: 2rem;
    }

    .gallery-button {
        font-size: 0.75rem;
        padding: 3px 6px;
    }
}
