.navbar {
    font-family: 'VerlagBookItalic', sans-serif;
}

.bg-transparent {
    background: linear-gradient(to bottom, black, transparent);
    border-bottom: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ddd;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-dark .navbar-brand {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #ddd;
}

.navbar-logo {
    max-width: 350px;
    height: auto;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
    .navbar-brand.mx-lg-auto {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 991px) {
    .navbar-logo {
        max-width: 280px;
    }
}

@media (max-width: 576px) {
    .navbar-toggler {
        width: 30px;  /* Adjust the width as needed */
        height: 30px; /* Adjust the height as needed */
        padding: 4px; /* Adjust the padding as needed */
        font-size: 0.875rem; /* Adjust the font size as needed */
        border-color: #fff;
    }

    .navbar-toggler-icon {
        width: 20px; /* Adjust the width of the icon as needed */
        height: 20px; /* Adjust the height of the icon as needed */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

@media (max-width: 380px) {
    .navbar-toggler {
        width: 25px;  /* Further adjust for smaller screens */
        height: 25px; /* Further adjust for smaller screens */
        padding: 2px; /* Further adjust for smaller screens */
        font-size: 0.75rem; /* Further adjust for smaller screens */
        border-color: #fff;
    }

    .navbar-toggler-icon {
        width: 18px; /* Further adjust the width of the icon */
        height: 18px; /* Further adjust the height of the icon */
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

