.news-section {
    position: relative;
    z-index: 2;
    padding: 5rem 1rem;
    height: 100vh;
    overflow: hidden;
    font-family: 'VerlagBookItalic', sans-serif;
}

.news-section h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #d0b546;
    font-family: 'VerlagBoldItalic', sans-serif;
}

.news-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 1rem;
}

.news-item {
    background: rgba(12, 12, 12, 0.8);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    font-family: 'VerlagBookItalic', sans-serif;
}

.news-item:hover {
    transform: translateY(-10px);
}

.news-item img {
    width: 100%;
    border-radius: 12px;
}

.news-item .news-content {
    padding: 1rem;
    text-align: center;
    font-family: 'VerlagBookItalic', sans-serif;
}

.news-item .news-title {
    font-size: 1.25rem;
    color: #d0b546;
    margin-bottom: 0.5rem;
    font-family: 'VerlagBoldItalic', sans-serif;
}

.news-item .news-text {
    color: white;
    opacity: 70%;
    margin-bottom: 1rem;
    font-family: 'VerlagBookItalic', sans-serif;
    font-size: 14px;
}

.news-item .news-date {
    color: #6e7681;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    font-family: 'VerlagBookItalic', sans-serif;
}

.news-item .news-link {
    background: linear-gradient(135deg, #58a6ff, #1f6feb);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
    font-family: 'VerlagBookItalic', sans-serif;
}

.news-item .news-link:hover {
    background: linear-gradient(135deg, #1f6feb, #58a6ff);
}

.s_price {
    color: #58a6ff;
    font-size: 20px;
}

.news_mail {
    color: #58a6ff;
    font-size: 15px;
}

.news_number {
    color: #58a6ff;
    font-size: 15px;
}

.info-link {
    color: #58a6ff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.info-link:hover {
    color: #fff;
    text-decoration: underline;
}

.tickets-link {
    color: white;
    text-decoration: none;
}

.tickets-link:hover {
    text-decoration: underline;
}

.upcoming-badge-news {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: ghostwhite;
    color: black;
    padding: 2px 8px; /* Halved padding */
    border-radius: 5px;
    font-size: 0.8rem; /* Halved font size */
    font-family: 'VerlagBoldItalic', sans-serif;
}

.news-item {
    position: relative;
}

@media (max-width: 768px) {
    .upcoming-badge-news {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 2px 7px;
        font-size: 0.6rem;
    }
}



