
.projects-section {
    position: relative;
    z-index: 2;
    padding: 5rem 1rem;
    height: auto; /* Change height to auto for better responsive behavior */
    overflow: hidden;
    margin-bottom: 3rem; /* Add margin-bottom for separation */
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #d0b546;
    font-size: 2rem; /* Ensure the font size is 2rem for consistency */
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5%;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 700px;
    margin: 0 2rem;
    overflow-y: auto;
}

.project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%; /* Set a fixed height for the container */
    width: 100%;
    margin-bottom: 1rem;
}

.project-image-container a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center; /* Center the image horizontally */
}

.project-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project-content {
    text-align: center;
    color: #8b949e;
}

.project-content h5 {
    font-size: 1.5rem;
    color: #d0b546;
    margin-bottom: 1rem;
    font-family: 'VerlagBoldItalic', sans-serif;
}

.project-content p {
    margin-bottom: 1rem;
    font-size: 18px;
    color: white;
    opacity: 70%;
    font-family: 'VerlagBookItalic', sans-serif;
}

.project-content h6 {
    font-size: 1.25rem;
    color: #d0b546;
    margin-bottom: 0.5rem;
}

.project-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'VerlagBookItalic', sans-serif;
}

.project-content ul li {
    margin-bottom: 0.5rem;
    font-family: 'VerlagBookItalic', sans-serif;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem; /* width of the arrow */
    height: 3rem;
    background-color: black;
    border-radius: 40%;
    border: 2px solid white;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    transform: scale(1.2);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulsing-image {
    animation: pulse 2s infinite;
}

.click-instruction {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    z-index: 10;
    font-family: 'VerlagBookItalic', sans-serif;
}

.project-image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .click-instruction {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.75rem;
        padding: 3px 6px;
    }

    .project-item {
        margin-bottom: 3rem; /* Add margin-bottom for separation between projects */
    }
}

.countdown-timer {
    position: relative;
    overflow: hidden;
    color: goldenrod;
    background: #000;
    padding: 7px 15px;
    display: inline-block;
    font-size: 1.1rem;
    border-radius: 4px;
    animation: glow 1s infinite alternate;
    box-shadow: 0 0 10px goldenrod;
    font-family: 'VerlagBookItalic', sans-serif;
}

.upcoming-project .project-item {
    background-color: rgba(255, 215, 0, 0.2); /* Light golden background for upcoming project */
    border: 2px solid goldenrod; /* Border for better visual separation */
}

.upcoming-badge {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: ghostwhite;
    color: black;
    padding: 5px 8px; /* Halved padding */
    border-radius: 5px;
    font-size: 0.8rem; /* Halved font size */
    font-family: 'VerlagBoldItalic', sans-serif;
}

@media (max-width: 768px) {
    .upcoming-badge {
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 4px 7px;
        font-size: 0.6rem;
    }
}




/* Glow effect */
@keyframes glow {
    from {
        box-shadow: 0 0 5px goldenrod;
    }
    to {
        box-shadow: 0 0 10px goldenrod;
    }
}
