body {
    margin-top: 56px;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.imgur.com/wyjMqYg.jpeg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    filter: brightness(40%);
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.video-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background: none;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    transition: transform 1s ease, opacity 1s ease;
    filter: brightness(25%);
}

#home {
    background: none;
}

section {
    position: relative;
    z-index: 2;
}

.social-icons {
    position: fixed;
    top: 50%;
    left: 10px; /* Adjust left positioning if needed */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.social-icon {
    margin: 5px 0; /* Reduce margin for smaller icons */
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
    color: #ffffff; /* Change color on hover */
}

@media (max-width: 768px) {
    .social-icons {
        left: 5px;
    }
    .social-icon {
        font-size: 12px;
    }
}



