.video-gallery {
    padding: 2rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1.5%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.custombold-text-videos {
    font-size: 28px;
    color: #D4AF37;
    margin-bottom: 1.5rem;
    font-weight: 100;
}

.row-videos {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.video-thumbnail {
    position: relative;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
}

.video-thumbnail img {
    border-radius: 8px;
    transition: transform 0.3s ease;
    filter: brightness(0.7);
}

.video-thumbnail:hover img {
    transform: scale(1.05);
    filter: brightness(1);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: rgba(255, 204, 0, 0.8);
    transition: color 0.3s ease;
}

.video-thumbnail:hover .play-button {
    color: rgba(255, 204, 0, 1);
}

.gallery-button-videos {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.875rem;
    color: white;
    background: none;
    border: 2px solid #D4AF37;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.gallery-button-videos:hover {
    background: whitesmoke;
    color: #000;
}

@media (max-width: 768px) {
    .row-videos {
        flex-direction: column;
        align-items: center;
    }

    .video-gallery {
        padding: 1rem 0.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .custombold-text-videos {
        font-size: 21px;
    }

    .gallery-button-videos {
        font-size: 0.75rem;
        padding: 3px 6px;
    }
}
